body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: url('https://images.creativemarket.com/0.1.0/ps/7353024/1820/965/m1/fpnw/wm1/ahp0l9ecx0vfwsdo1rwxcdtynfyzn4gweomwnblntp5glupfrmnapoab88tzxyjd-.jpg?1574572829&s=b8ffc3e573cf00451539ee4b954ba3c0') center/cover fixed;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-field:focus {
  outline: none;
  border-color: #4CAF50;
}

button.form-field {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.form-field:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 5px;
  text-align: center;
}
