.header {
  background-color: #bebaba; 
  color: rgb(255, 255, 255); 
  padding: 20px; 
}

.title {
  text-align: center; 
}

.logo {
  display: flex; 
  justify-content: space-around; 
  margin-top: 20px;
  font-size: x-large;
}

.content {
  margin: 20px; 
}

.description {
  text-align: center; 
}

a {
  color: #523f3f; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}
