body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://images.creativemarket.com/0.1.0/ps/7353024/1820/965/m1/fpnw/wm1/ahp0l9ecx0vfwsdo1rwxcdtynfyzn4gweomwnblntp5glupfrmnapoab88tzxyjd-.jpg?1574572829&s=b8ffc3e573cf00451539ee4b954ba3c0');
  background-size: cover;
  background-position: center;
  height: 100vh; 
}

.header {
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 20px;
}

.title {
  text-align: center;
}

.logo {
  text-align: center;
  padding: 20px 0;
}

.button {
  color: white;
  background-color: #4CAF50;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.login-signup-btn {
  color: white;
  background-color: #4CAF50;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
}

.login-signup-btn:hover {
  background-color: #45a049;
}

.content {
  padding: 20px;
}

.description {
  text-align: center;
}

.description h2 {
  color: #4CAF50;
}

.description p {
  color: #ffffff;
  font-size: larger;
}
